

/*reset de css a html*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    color: white;
    background-color: black;
}

img {
    width: 30px;
}

section {
    background-color: black;
}

.card {
    background-color:deepskyblue;
}

.mx-auto {
    width: 250px;
    height: 200px;
}


.card-text {
    color: white;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.btn {
    color: white;
    background-color: deepskyblue;
}

footer .navbar {
    background-color:deepskyblue;
    text-align: center;
}

.navbar-brand {
    color: white;
}

i {
    font-size: 30px;
}